li{
  max-width: 1200px;
}
.svitle{
  width: 1200px;
  height: 500px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(0, 255, 0);
  color: rgb(255, 0, 0);
  display: flex;
  text-align: center;
  flex-direction: column
}
.temne{
  height: 500px;
  width: 1200px;
  background-color: black;
  color:#ff5500;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.stat {
  font-size:30px;
  color:darkorchid;
}
.clock {
  text-align: center;
  width: 150px;
  height: 50;
  background-color:rgb(244, 8, 248);
  font-size: 30px;
  font-weight: bold;
  color: black;
}